html, body {
    height: 100%;
    font-family: 'Droid Sans';
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

#wrapper, #scroller, #main {
    position: relative;
    width: 9000px;
    height: 100%;
}

.mobile body {
  overflow: hidden;
}

.mobile #wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 3000px;
}

.mobile #scroller {
  width: 3000px;
}

/*****[ Panels ]***************************************************************/
.panel {
    position:relative;
    width: 700px;
    height: 100%;
    float: left;
    background-color: #222;
    color: #666;
    overflow: hidden;
}
    .panel .content {
        padding: 15px;
    }
    .panel50  { width: 500px; }
    .panel60  { width: 600px; }
    .panel65  { width: 650px; }
    .panel82  { width: 825px; }
    .panel85  { width: 850px; }
    .panel100 { width: 1000px; }

    .inset {
        box-shadow: inset 0 0 50px rgba(0,0,0,1.8);
    }
/*
.story {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 500px;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    float: left;
}
*/
    .panel h2 {
        font: normal 18px 'Nova Square';
        color: #f90;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    }
    .panel.impact h2 {
        font-size: 60px;
    }

#welcome {
    position: relative;
    background-image: url(../img/elephants.jpg);
    background-position: -400px bottom;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
    z-index: 10;
}

#lowdown {
    position: relative;
    z-index: 20;
}
    #lowdown .filler {
        background: url(../img/stripey.jpg) -300px 0;
        height: 60%;
        box-shadow: inset 0 0 50px rgba(0,0,0,0.8);
        border-bottom: solid 1px #333;
    }

#method {
    position: relative;
    background: #F7F7F7 url(../img/tree.jpg) no-repeat 100px bottom;
    z-index: 30;
    border-right: solid 1px #333;
}
    #method h2 {
        color: #333;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    }
    #method .content {
        width: 70%;
    }

#works {
    position: relative;
}
    #works .content {
        position: absolute;
        width: 274px;
        height: 100%;
        top: 0px;
        left: 0px;
        float: left;
        padding-top: 25%;
        border-top: solid 1px #333;
        border-right: solid 1px #333;
        z-index: 100;
    }
    #works .highlights {
        position: absolute;
        width: 520px;
        height: 100%;
        top: 0px;
        right: 0px;
        background: url(../img/stripey.jpg) -300px 0;
        border-top: solid 1px #333;
        z-index: 90;
        overflow: hidden;
    }
        #works .hl {
            position: absolute;
            width: 274px;
            height: 275px;
            border: solid 1px #333;
        }
            #works .hl .details {
                position: relative;
                background-color: #333;
                opacity: 0.9;
                width: 100%;
                height: 100%;
                color: #fff;
                display: none;
            }
                #works .hl .details-content {
                    position: relative;
                    left: 15px;
                    top: 150px;
                    width: 244px;
                    height: 124px;
                }
                    #works .work-title {
                        font-size: 20px;
                    }
                    #works .work-description {
                        margin: 0 0 20px 10px;
                        color: #ccc;
                    }
                    #works .work-link {
                        position: absolute;
                        bottom: 30px;
                        right: 0px;
                    }
                        #works .work-link a {
                            color: #f90;
                        }

        #works .hl:hover {
            z-index: 200;
        }
            #works .hl:hover .details {
                display: inline-block;
            }
                #works .hl:hover .details-content {
                    bottom: 0px;
                }
        #works .highlights .bumblebees {
            top: 10px;
            background-image: url(../img/ss-bumblebees.png);
        }
        #works .highlights .toronto-condos {
            background: url(../img/ss-torontocondos.png) bottom left;
            bottom: 200px;
        }
        #works .highlights .vivid {
            background: url(../img/ss-vividvoice.png);
            bottom: 25px;
        }

#really {
    position: relative;
    background: url(../img/vintage_bike.jpg) -300px bottom;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.8);
}
    #really .content {
        position: absolute;
        bottom: 20px;
        left: 0px;
        width: 70%;
        margin-top: 40%;
        color: #000;
    }
    #really h2 {
        color: #333;
    }

/*****[ Control ]**************************************************************/
#ctr-control {
    position: relative;
    width: 140px;
    color: #fff;
    float: left;
}

/*****[ Contact Screen ]*******************************************************/
.form-row {
    margin-bottom: 5px;
}
.form-row.controls {
    margin-top: 20px;
}

.form-label {
    width: 140px;
    float: left;
}
    .form-label label {
        font-size: 16px;
        margin-top: 4px;
    }

#ctr-contact {
}
    #frm-contact {
        margin-top: 40px;
    }

    #frm-contact input[type="text"] {
        width: 350px;
    }
    #frm-contact input[type="checkbox"] {
        float: left;
        margin-right: 4px;
    }
    #frm-contact textarea {
        width: 350px;
        height: 130px;
    }

#ctr-errors label {
    display: inline;
    cursor: pointer;
    font-style: italic;
}