body {
	margin: 0px;
	padding: 0px;
	background: #f2e9e1 url(../img/bg-site.png) repeat-y center top;
	font-family: "Droid Sans", helvetica, arial, sans-serif;
	font-size: 13px;
	color: #858585;
}	

p {
	line-height: 1.3em;
}

#tupperware {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	background: url(../img/bg-header.png) no-repeat center top;
}

header {
	height:60px;
	margin-bottom:20px;
}

#tupperware-content {
	position: relative;
	width: 768px;
	margin: 0 auto;
	background: url(../img/content-top.png);
	padding-top:275px;
}

#tupperware-content .shim {
	width: 768px;
	background: url(../img/bg-content.png);
}

#tupperware-content .content {
	position: relative;
	width: 738px;
	top: -225px; 
	margin: 0 auto;
}

#tupperware-content .content h2 {
    font-family: "Droid Sans", helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 36px;
	margin-bottom: 10px;
	text-shadow: 1px 1px 0px #666;
}

#tupperware-content .content h3 {
	font-family: "Droid Sans", helvetica, arial, sans-serif;
	font-size: 20px;
	color: #999;
	text-shadow: 1px 1px 0px #666;
	margin-bottom: 5px;
}
#navigation-main {
	position: absolute;
	top: -9px;
	right: 1px;
	height: 40px;
	width: 421px;
}
	#navigation-main .link {
		height: 40px;
		cursor: pointer;
		background-image: url(../img/sprite-links.png);
		float: left;
	}

	.link.lowdown       { width: 115px; }
	.link.lowdown:hover { background-position: 0px -40px; }
	.link.works         { width: 88px; background-position: -115px 0px; }
	.link.works:hover   { background-position: -115px -40px; }
	.link.contact       { width: 106px; background-position: -203px 0px; }
	.link.contact:hover { background-position: -203px -40px; }
	.link.the-lab       { width: 106px; background-position: -309px 0px; }
	.link.the-lab:hover { background-position: -309px -40px; }

.content form label {
	font-weight: bold;
	display: block;
	line-height: 1.3em;
}

.content form ul {
	margin: 0;
	padding: 0;
}

.content form li {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}

input, input:focus {
	background-color: #E8E8E8;
	border: solid 1px #bbb;
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
	color: #858585;
	padding: 5px;
	text-shadow: 1px 1px 0px #FBFBFB;
}

input[type=submit] {
	background-color: #a8a8a8;
	color: #E8E8E8;
	text-shadow: 1px 1px 0px #333;
	cursor: pointer;
}

.page-chunk.container, .page-chunk.quote {
	position: relative;
	overflow: auto;
	clear: both;
}

.page-chunk.quote {
	font-family: "Waiting for the Sunrise";
	font-size: 20px;
}
.page-chunk.quote .mark {
	font-family:"IM Fell Great Primer";
}
.page-chunk.quote.right {
	text-align: right;
}

.page-chunk.container .left {
	position: relative;
	width: 47%;
	margin-right: 2%;
	float: left;
	overflow: auto;
}
.page-chunk.container .right {
	position: relative;
	width: 48%;
	margin-left: 1%;
	float: left;
	overflow: auto;
}

.padding-top-20 { margin-top: 20px; }
.margin-top-20 { margin-top: 20px; }